.loader {
  background-color: rgba(239, 246, 243, 0.8);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__image {
    width: 15rem;
    animation: spin 3s linear 0s infinite;
    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}
