.back {
  display: inline-flex;
  align-items: baseline;
  border: none;
  background-color: transparent;

  &__text {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    padding: 0;
    margin: 0;
  }

  &__arrow {
    padding-right: 12px;
  }
}
