.button {
  padding: 10px;
  font-size: 18px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.25s;

  &:active {
    background-color: rgba($color: #61d741, $alpha: 0.9);
  }

  &:hover {
    background-color: rgba($color: #61d741, $alpha: 0.8);
    transition: all 0.25s;
  }
}
