.container {
  padding: 23px 54px 142px 54px;
  overflow: hidden;

  &__inner {
    max-width: 1600px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
  }

  &__buttonbox {
    padding-bottom: 30px;
  }

  @media (max-width: 640px) {
    padding: 20px 19px 85px;

    &__buttonbox {
      padding-bottom: 78px;
    }
  }
}

.nav {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}
